*.class

# Backup files
*~

*.java._trace

# Package Files #
*.jar
*.war
*.ear

# bin Folder
bin/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
