<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated familygraph -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="EMFModel.Graph.presentation.GraphModelWizardID"
            name="%_UI_GraphModelWizard_label"
            class="EMFModel.Graph.presentation.GraphModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GraphModelFile.gif">
         <description>%_UI_GraphModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated familygraph -->
      <editor
            id="EMFModel.Graph.presentation.GraphEditorID"
            name="%_UI_GraphEditor_label"
            icon="icons/full/obj16/GraphModelFile.gif"
            extensions="graph"
            class="EMFModel.Graph.presentation.GraphEditor"
            contributorClass="EMFModel.Graph.presentation.GraphActionBarContributor">
      </editor>
   </extension>

</plugin>
